/* 
    Document   : restaurantcss
    Created on : Jan 31, 2013, 11:48:36 PM
    Author     : Patrick Urban
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

html
{
    margin-left: 50px;
}

table
{
    border-collapse: collapse;
}

td{
    font-family: verdana;
    font-size: 14px;
    padding-top: 9px;
}

td.lastrow{
    border-top: 2px dashed black;
    text-align: right;
    font-weight: bold;
    padding-top: 15px;
}

tr.tipline td{
    font-style: italic;
}

th
{
    border-bottom: 2px blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: coral;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3{
    font-family: Arial, helvetica, sans-serif;
    color: #990033;
    margin-bottom: 3px;
    /*text-align: center;*/
}

h2{
    font-family: Arial, helvetica, sans-serif;
    color: blue;
    /*text-align: center;*/
}

h1{
    font-family: Arial, helvetica, sans-serif;
}
